#mypc_availability{
	padding-top: 10px;
	font-size: 14px;
}

#mypc_table {
	width: 100% !important;
}

.spinner {
  font-size: 50px !important;
  margin-left: 45%;
  margin-top: 40%;
}

@media (max-width: 575px) {
	.spinner {
	  margin-top: 0 !important;
	}
}

td.mypc_availability, th.mypc_availability{
  text-align: right !important;
}

#refresh_info {
	margin-top: 10px;
}
